#wrapper {
	width:100%;
	overflow:hidden;
}
.header {
	height:130px;
	
	background:url(../images/header.jpg);
	border-bottom:1px dotted #00c7ff;
}
.slider {
	width:960px;
	height:391px;
	overflow:hidden;
}
.contentwrapper {
	overflow:hidden;
	background:#3c3c3c;
	border-bottom:1px dotted #00c7ff;
}
.contentwrapper img {
	margin:10px;
}
.region-contentright {
	overflow:hidden;
}
.region-contentmiddle {
	overflow:hidden;
}
.region-sidebar-second {
	overflow:hidden;
}

.teaserview {
	overflow:hidden;
}
.teaserview img {
	float:left;
}
.articlebottom {
	overflow:hidden;
}
.leftboxone {
	overflow:hidden;
}
.leftboxtwo {
	overflow:hidden;
}
.leftboxthree {
	overflow:hidden;
}
.middleboxone {
	overflow:hidden;
}
.middleboxtwo {
	overflow:hidden;
	
}
.middleboxthree {
	overflow:hidden;
}
.region-quickmessage {
	overflow:hidden;
}
.middleboxfive {
	overflow:hidden;
}
.footer {
	overflow:hidden;
	background:#000;
	padding-top:30px;
	position:relative;
}
.region-footernav {
	overflow:hidden;
	padding-top:20px;	
}
.region-footercopyright {
	overflow:hidden;
}
.region-footericons {
	overflow:hidden;
}
.region-bottomarticle1 {
	overflow: hidden;
}sidebar_first

.region-sidebartwo {
	overflow: hidden;
}

.region-bottomarticle2 {
	overflow: hidden;
}
.region-bottomarticle3 {
	overflow: hidden;
}
.region-bottomarticle4 {
	overflow: hidden;
}
.region-articlewrap {
	overflow:hidden;
}
.comment_user{

  background: none repeat scroll 0 0 black;
  float: left;
  height: 100px;
  margin-bottom: 5px;
  margin-right: 10px;
  padding-left: 0;
  width: 100px;
}
.comments {
	overflow:hidden;
	margin-top:30px;
}
.region-contactwrap {
	overflow:hidden;
	color:#fff;
}
.contactfields {
	overflow:hidden;
	
}
