body, p {
	font-size:13px;
	font-family: 'ImpactRegular';
}
h1,h3,h4,h5,h6 {
	line-height: 1;
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans-serif;
	font-weight:normal;
	color:#fff;
	padding-left:0px !important;
}
h2 {
	line-height: 1;
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans-serif;
	font-weight:normal;
	color:#fff;
	padding-left:0px;
}
p {
  margin: 0 0 10px 0;
  clear:both;
  text-align:justify;
  color:#fff;
}
span, dt, dd {
  color:#fff;
}
ol {
    list-style-type: decimal;
    color:#fff;
}
ol {
    display: block;
}

ul li {
    display: list-item;
    list-style-type: disc;
    color:#fff;
}
fieldset {
    border: 1px solid silver;
    margin: 0 0 1.2em;
    width:604px;
    padding: 0.6em 2%;
    color:#fff;
}
.field .field-label {
  color:#00C7FF;
}
.contentwrapper input[type="radio"], .contentwrapper input[type="checkbox"] {
  border:none;
  width:auto;
}
.form-item input[type="text"], .form-item select {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #2d2d2d;
    border-color: yellow;
    border-style: dotted;
    border-width: 1px;
    font-size: 13px;
    line-height: 1.2em;
    padding: 0;
    color:#fff;
}
.form-item textarea {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #2d2d2d;
    border-color: yellow;
    border-style: dotted;
    border-width: 1px;
    font-size: 13px;
    line-height: 1.2em;
    padding: 0;
    color:#fff;
    width:100%;
}
.form-item input.form-text, .form-item select {
    padding: 3px 1%;
    width: 98%;
}
form input.form-submit {
    border: 0 none;
    display:block;
    color: #FFFFFF;
    margin: 2px;
    position: relative;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
    font-weight:bold;
	  cursor:pointer;
	  text-align:right;
	  float:none;
	  margin:10px 0px 10px 0px;
	  padding:10px 35px 10px 0px;
	  text-decoration:none;
	  background:url("../images/more_button.png") no-repeat center right;
}
form:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
form {
    margin-bottom: 1.2em;
}
table {
    border-collapse: collapse;
}
td, tr.odd td, tbody th {
    background-color: #2d2d2d;
    border:1px dotted yellow;
    color:#fff;
}
tbody, th {
  border:none;
  border-bottom:1px solid yellow;
  color:#fff;
}
tr.even, tr.odd {
    background-color: #e3e3e3;
    border-bottom: 1px dotted yellow;
    padding: 0.1em 0.6em;
}
.form-item .description {
    color: #fff;
    font-size: 0.8em;
    font-style: italic;
    padding: 0.4em 0 0;
}
label {
    display: block;
    font-weight: bold;
    color:#fff;
}
hr {
  border-color: #ccc;
  border-style: solid;
  border-width: 1px 0 0;
  clear: both;
  height: 0;
}

h1 {
  font-size: 4em;
  letter-spacing:-1px;
}
h1.title {
  font-size: 4em;
  letter-spacing:-1px;
}

h2 {
  font-size: 2em;
}
h2.block-title {
  color:#00C7FF !important;
}
h2.title a:link, h2.title a:visited {
    text-decoration: none;
    color:#fff;
    background:#000;
    padding-left:3px !important;
    border-bottom:1px dashed #fff;
}
h2.title a:hover, h2.title a:active {
    text-decoration: none;
    color:#fff;
    background:#000;
}

h3 {
  font-size: 1.6em;
}

h4 {
  font-size: 1.4em;
}

h5 {
  font-size: 90%;
}

h6 {
  font-size: 80%;
}
ol {
  list-style: decimal;
}

ul {
  list-style: square;
}

p,
dl,
hr,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
pre,
table,
address,
fieldset {
  margin-bottom: 20px;
}
b, strong {
    font-weight: bolder;
}
i, cite, em, var, dfn {
    font-style: italic;
}
blockquote {
    background-color: #000;
}
blockquote {
    color: #1B395B;
    font-size: 1.4em;
    line-height: 1.4em;
    margin: 0 0 1em;
    padding: 10px;
}
a, a:link, a:visited {
    color: #fff;
    text-decoration:underline;
}
a, a:hover, a:active {
    color: #fff;
    text-decoration:none;
}

div.status, table tr.ok {
    background-color: #000;
}
div.status, .ok {
    color: #fff;
}
div.status {
    border-color: #fff;
}
div.status a:link, div.status a:visited {
  color:#c1c1c1;
}
div.status a:hover, div.status a:active {
  color:#c1c1c1;
}
div.messages {
    background-position: 8px 8px;
    background-repeat: no-repeat;
    margin: 6px 0;
    padding: 10px 10px 10px 50px;
}
div.messages a:link, div.messages a:visited {
  color:#c1c1c1;
}
div.messages a:hover, div.messages a:active {
  color:#c1c1c1;
}
div.error, table tr.error {
    background-color: #000;
}
div.error, .error {
    color: #fff;
}
div.warning, table tr.warning {
    background-color: #000;
}
div.warning, .warning {
    color: #fff;
}
div.warning a:link, div.warning a:visited {
  color:#c1c1c1;
}
div.warning a:hover, div.warning a:active {
  color:#c1c1c1;
}
div.error {
    border-color: #fff;
}
div.warning {
    border-color: #fff;
}
p code {
    background-color: #000;
}
p code {
    border: medium none;
    color: #fff;
    display: inline;
    margin: 0;
    padding: 0 0.2em;
}
.region-search {
	height:65px;
	text-align:right;
	float:right;
}
.region-search input[type=text] {
	width:260px;
	height:43px;
	margin-bottom:15px;
	background:url("../images/Quick_message_name fiels.jpg") no-repeat center right;
	border:none;
	color:silver;
	margin-top:12px;	
	padding:0px 10px 0px 10px;
}
.region-search input[type=image] {
  width:26px;
  height:26px;
  float:right;
  background-color:transparent;
  border:none;
  position:absolute;
  top:20px;
  display:block;
  right:5px;
  background-image:none;
  padding:0px;
  margin:0px;
}
.region-search input[type=submit] {
  background-image:url("../images/search_icon.png");
  background-repeat:no-repeat;
  background-position:right center;
  background-color:transparent;
  border:none;
  display:block;
  position:absolute;
  top:5px;
  right:35px;
  width:26px;
  height:26px;
}
.logo {
	margin-top:60px;
}
.region-primarynav {
	height:65px;
	text-align:right;
	float:right;
}
.region-primarynav ul.menu {
	list-style-type:none;
	padding:0px;
	margin:0px;
	text-align:left;
}
.region-primarynav ul.menu li {
	display:inline-block;
	padding:4px 6px 4px 6px;
	font-size:28px;
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat";
	font-weight:normal;
}
.region-primarynav ul.menu li:last-child {
	padding-right:0px;
}
.region-primarynav ul.menu li a {
	text-decoration:none;
	color:#fff;
}
.region-primarynav ul.menu li a:hover {
	color:#00c7ff;
}
.region-primarynav ul.menu li ul {display:none; }
.region-primarynav ul.menu li a:hover ul {float:left;}
.region-primarynav ul.menu li a:hover ul li {border:none; }

.article_title h1, .article_title h2, .article_title h3,
.article_title h4, .article_title h5, .article_title h6  {
	color:#fff;
	background:#000;
	border-bottom:1px dashed #fff6b1;
	margin:20px 0px 20px 0px;
	padding:10px 10px 10px 10px;
}
.article_title a {
  text-decoration:none;
}
.comment_user img {
  margin-left: 33px !important;
  margin-top: 31px;
}
.region-content p {
  text-align:justify;
}
.region-content img {
  margin-left:0px;
}
.teasercontent h1, h2, h3, h4, h5, h6 {
	padding:3px 10px 3px 0px;
}

.region-contentleft p {
	color:#fff;
	text-align:justify;
}
.region-contentleft p a {
	display:block;
	text-align:right;
	margin:40px 0px 40px 0px;
	padding:10px 33px 5px 10px;
	color:#fff;
	text-decoration:none;
	background:url("../images/more_button.png") no-repeat center right;
}
.region-contentmiddle h1, .region-contentmiddle h2, .region-contentmiddle h3,
.region-contentmiddle h4, .region-contentmiddle h5, .region-contentmiddle h6 {
	color:#fff;
	background:#000;
	border:none;
	margin:20px 0px 20px 0px;
	padding:2px;
	line-height: 1;
}
.region-sidebar-second h1, .region-sidebar-second h2, .region-sidebar-second h3,
.region-sidebar-second h4, .region-sidebar-second h5, .region-sidebar-second h6 {
	color:#fff;
	background:#000;
	border:none;
	margin:20px 0px 20px 0px;
	padding:2px;
	line-height: 1;
}
.region-sidebar-second div:first-child h1,.region-sidebar-second div:first-child h2,
.region-sidebar-second div:first-child h3,.region-sidebar-second div:first-child h4,
.region-sidebar-second div:first-child h5,.region-sidebar-second div:first-child h6{
	color:yellow;
	background:none;
}
.region-contentmiddle div:first-child h1,.region-contentmiddle div:first-child h2,
.region-contentmiddle div:first-child h3,.region-contentmiddle div:first-child h4,
.region-contentmiddle div:first-child h5,.region-contentmiddle div:first-child h6{
	color:yellow;
	background:none;
}
.region-contentmiddle div:last-child h1,.region-contentmiddle div:last-child h2,
.region-contentmiddle div:last-child h3,.region-contentmiddle div:last-child h4,
.region-contentmiddle div:last-child h5,.region-contentmiddle div:last-child h6{
	color:#fff;
	
}
.region-sidebar-second div:last-child h1,.region-sidebar-second div:last-child h2,
.region-sidebar-second div:last-child h3,.region-sidebar-second div:last-child h4,
.region-sidebar-second div:last-child h5,.region-sidebar-second div:last-child h6{
	color:#fff;
	
}

.region-contentmiddle p {
	color:#fff;
	text-align:justify;
}
.region-sidebar-second p {
	color:#fff;
	text-align:justify;
}
.region-contentmiddle p a {
	display:block;
	text-align:right;
	margin:20px 0px 20px 0px;
	padding:10px 33px 5px 10px;
	color:#fff;
	text-decoration:none;
	background:url("../images/more_button.png") no-repeat center right;
}
.region-sidebar-second p a {
	display:block;
	text-align:right;
	margin:20px 0px 20px 0px;
	padding:10px 33px 5px 10px;
	color:#fff;
	text-decoration:none;
	background:url("../images/more_button.png") no-repeat center right;
}
.region-contentmiddle input {
	width:260px;
	height:43px;
	margin-bottom:15px;
	background:url("../images/Quick_message_name fiels.jpg") no-repeat center right;
	border:none;
	color:silver;
}
.region-sidebar-second input {
	width:260px;
	height:43px;
	margin-bottom:15px;
	background:url("../images/Quick_message_name fiels.jpg") no-repeat center right;
	border:none;
	color:silver;
}
.region-contentmiddle textarea {
	width:260px;
	height:140px;
	background:url("../images/Quick_message_message field.jpg") no-repeat center right;
	border:none;
	color:silver;
}
.region-sidebar-second textarea {
	width:260px;
	height:140px;
	background:url("../images/Quick_message_message field.jpg") no-repeat center right;
	border:none;
	color:silver;
}
.region-contentmiddle button, input[type="reset"], input[type="button"], input[type="submit"] {
	display:inline-block;
	cursor:pointer;
	text-align:right;
	float:right;
	margin:10px 25px 10px 0px;
	padding:10px 40px 10px 0px;
	color:#fff;
	text-decoration:none;
	background:url("../images/more_button.png") no-repeat center right;
}
.region-sidebar-second button, input[type="reset"], input[type="button"], input[type="submit"] {
	display:inline-block;
	cursor:pointer;
	text-align:right;
	float:right;
	margin:10px 25px 10px 0px;
	padding:10px 40px 10px 0px;
	color:#fff;
	text-decoration:none;
	background:url("../images/more_button.png") no-repeat center right;
}
.contentright h1, .contentright h2, .contentright h3,
.contentright h4, .contentright h5, .contentright h6{
	color:#00c7ff;
	margin-top:20px;
}

.region-footernav ul {
	list-style-type: none;
margin:0px;
padding:0px;
	color:#00c7ff;
}
.region-footernav ul li {
	display:inline;
	padding:5px 10px;
	font-size:13px;
		text-decoration:none;
}
.region-footernav ul li a {
	color:#00c7ff;
	text-decoration:none;
}
.region-footernav ul li a:hover {
  	text-decoration:none;
  color:#00c7ff;
}
.region-footercopyright p {
	color:#fff6b1;
	padding-top:20px;
}
.region-footericons img {
	margin:10px;
}
.yellowheading h1,.yellowheading h2,.yellowheading h3,
.yellowheading h4,.yellowheading h5,.yellowheading h6 {
	color:yellow;
	background:none;
	border-bottom:1.5px dotted #00c7ff;
}
.blackbgheading h3, .blackbgheading h3:first-child, .blackbgheading h3:last-child {
	color:yellow;
	background:#000;
	border-bottom:1.5px dotted #00c7ff;
}
.region-bottomarticle1 p {
	padding-top:10px;
	color:#fff;
}

.region-sidebartwo p {
	padding-top:10px;
	color:#fff;
}

.region-quickmessage h1, .region-quickmessage h2,.region-quickmessage h3,
.region-quickmessage h4, .region-quickmessage h5,.region-quickmessage h6 {
	border:none !important;
}
.articlewrap p {
	color:#fff;
  padding-top:5px;
}
.articlewrap img {
	float:left;

}
.articleheading {
	color:#fff;
	background:#000;
	border-bottom:1px dashed #fff6b1;
	padding:15px;
}
.articlebottom h1, .articlebottom h2, .articlebottom h3,
.articlebottom h4, .articlebottom h5, .articlebottom h6 {
	color:#00c7ff;
}
.articlebottom p a {
	display:block;
	text-align:right;
	margin:40px 0px 40px 0px;
	padding:10px 33px 5px 10px;
	color:#fff;
	text-decoration:none;
	background:url("../images/more_button.png") no-repeat center right;
}

.region-quickmessage input {
	background:#2d2d2d !important;
	border:1px dotted yellow !important;
	display:block !important;
	width:260px !important;
	height:45px !important;
	padding:0px 10px 0px 10px !important;
	color:silver !important;
}
.region-quickmessage textarea {
	background:#2d2d2d !important;
	border:1px dotted yellow !important;
	display:block !important;
	width:260px !important;
	height:100px !important;
	margin-bottom:20px !important;
	color:silver !important;
	text-align:left !important;
	padding:10px !important;
}
.region-quickmessage button, input[type="reset"], input[type="button"], input[type="submit"] {
	display:inline-block !important;
	border:none !important;
	cursor:pointer !important;
	text-align:right !important;
	float:right !important;
	margin:10px 10px 10px 0px !important;
	padding:10px 40px 10px 0px !important;
	color:#fff !important;
	text-decoration:none !important;
	background:url("../images/more_button.png") no-repeat center right !important;
	
}

.region-contactwrap h1, .region-contactwrap h2, .region-contactwrap h3,
.region-contactwrap h4, .region-contactwrap h5, .region-contactwrap h6 {
	
	background:url("../images/map_pin.png") #000 no-repeat 10px 20px;
	height:40px;
	color:#fff;
	padding:30px 0px 10px 50px;
}
.region-quickmessage h1, .region-quickmessage h2, .region-quickmessage h3,
.region-quickmessage h4, .region-quickmessage h5, .region-quickmessage h6 {
	
	background:url("../images/pencil.png") no-repeat 10px 30px !important;
	height:40px !important;
	color:yellow !important;
	padding:30px 0px 10px 50px !important;
	margin:0px !important;
}
.commentdisplaywrap {
	overflow:hidden;
	margin-top:10px;
	border-top:1px dotted #FFF6B1;
}

.userpic {
	text-align:center;
	background:#000;
	height:100px;
}
.comment-arrow{
	margin-top:20px;
	background:#BEBEBE;
	padding:10px;
}
.comment-arrow p {
	color:#505050;
	padding-top:0px;
	clear:none;
	margin:0px;
}
.comment-arrow .comment ul.inline, ul.links.inline li a  {
                                                         margin-right:4px;
                                                         color:#fff;
                                                         font-size:13px; font-weight:bold;
                                                         } 
                                                         
.comment-arrow h3 a {
  color:#fff;
  font-size:14px;
  text-decoration:none;
  margin-bottom:0px;
  font-weight:normal; 
  padding:0px;
}

.submitted_date {
  text-align:right; 
  color:yellow !important;
}

.submitted_date span {
  text-align:right; 
  color:yellow !important;
}

.submitted a 
              {
              font-size:14px; 
              color:yellow;
              font-weight:bold;
              text-decoration:none;
              text-transform:capitalize; 
              } 
                          
.resizable-textarea .grippie {
	display:none; 
} 
                              
#edit-author--2 a {
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    text-transform: capitalize;
} 
.displaycomment {
  margin-top:30px;
}

.commentername h3 {
	color:yellow;
	font-size:16px;
	background:none;
}
.commenterdate {
	color:yellow;
	font-size:16px;
	text-align:right;
	float:right;
	margin-right:10px;
}

.comment-form input[type=text] {
	background:#2d2d2d;
	border:1px dotted yellow;
	display:block;
	width:300px;
	height:45px;
	margin-bottom:20px;
	color:silver;
	padding:0px 10px 0px 10px;
}
.comment-form textarea {
	background:#2d2d2d;
	border:1px dotted yellow;
	display:block;
	width:610px;
	margin-bottom:20px;
	color:silver;
	text-align:left;
	padding:10px;
}
.comments button, input[type="reset"], input[type="button"], input[type="submit"] {
	display:inline-block;
	border:none;
	cursor:pointer;
	text-align:right;
	float:right;
	margin:10px 10px 10px 0px;
	padding:10px 40px 10px 0px;
	color:#fff;
	text-decoration:none;
	background:url("../images/more_button.png") no-repeat center right;
	
}
.commenttitlemain {
	background: url("../images/comment.png") no-repeat scroll left top transparent;
  border: medium none;
  color: yellow;
  margin-top: 20px;
  overflow: hidden;
  padding-left: 40px;
  padding-top: 8px;
  text-align: start;
}
/*.comment-arrow .comment ul.inline, ul.links.inline li a
#comment_submitted .link-wrapper ul li a
*/
.link-wrapper ul li.comment_forbidden{
  float:none !important;
}
#comments .commenttitle .comment-wrapper{
  margin-top:0px;
}
.link-wrapper ul li.comment_forbidden a{
  display: inline-block;
  text-align:right;
  margin: 20px 0px 0px 0px;
  padding: 12px 0px 0px 0px;
	color:#fff;
  text-decoration:none;
  /*background:url("../images/more_button.png") no-repeat center right;*/
  background:none !important;
}

#comment_submitted {
  color:#fff;
}
.tips {
	color:#fff;
}
.filter-help a {
	color:yellow;
}
.search-form input[type="text"] {
	background:#2d2d2d;
	border:1px dotted yellow;
	display:block;
	margin-bottom:20px;
	color:silver;
	padding:0px 10px 0px 10px;
	height:30px;
	width:500px;
}
.search-form input[type="submit"] {
	background:#2d2d2d;
	border:1px dotted yellow;
	display:block;
	float:none;
	margin-bottom:20px;
	color:silver;
	padding:0px 10px 0px 10px;
	height:30px;
	
}
.fieldset-title {
	color:yellow;
}
.form-submit {background:red;}
.region-slideshow p {
  margin:0px;
}
.footer_zyxware {
  font-size:8px;
  text-align:right;
  color:#9a9a9a;
  margin-right:10px;
  margin-bottom:4px;
  overflow:hidden;
  position:absolute;
  bottom:0px;
  right:0px;
}
.footer_zyxware a:link,.footer_zyxware a:visited {
  color:#9a9a9a;
  text-decoration:none;
}
.link-wrapper {

}
.link-wrapper ul {
  margin:0px;
  padding:0px;
}
.link-wrapper ul li {
  margin:0px;
  padding:0px;
  float:right;
}
.link-wrapper ul li a {
  display:block;
	text-align:right;
	margin:20px 0px 20px 0px;
	padding:11px 33px 5px 10px;
	color:#fff;
	text-decoration:none;
	background:url("../images/more_button.png") no-repeat center right;
}
.region-sidearticle img {
  margin:10px 0px;
}
.region-sidearticle p {
  text-align:justify;
}
.article_title h2 a {
  padding-left:10px;
}
ul.primary li a {
  background-color: #DDDDDD;
  border-color: #BBBBBB;
  border-style: solid solid none;
  border-width: 1px;
  color: #000000;
  height: auto;
  margin-right: 0.5em;
  padding: 0 1em;
  text-decoration: none;
}
.post-tags .field-item {
  float:left;
  margin-right:5px;
  margin-top:15px;
  background-color: #DDDDDD;
  background-image: -moz-linear-gradient(center top , #EEEEEE, #DDDDDD);
  background-repeat: repeat-x;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: #CD4517;
  display: inline-block;
  text-shadow: 0 1px 0 #FFFFFF;
}

.post-tags{
 overflow:hidden;
}

.post-tags a{
	color:black;
	text-decoration: none;
	padding:0px 6px;
	font-size:15px;
}

.post-tags a:hover{
  background-color:#999999;
	border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
} 

.post-tags .field-label {
  display:none;
}

#nav {
  margin-left:auto;
  margin-right:auto; 
  float:right;
}

#nav ul {
    /*float: left;*/
    padding-bottom: 0px;
    padding-left: 15px;
    margin-left:40px;
    list-style-type: none;
    padding-right: 15px;
    padding-top: 0px;margin-top:20px;
}
#nav li {
    float: left;
    font-weight: 400;
    list-style-type: none;
}
#nav li a {
  font-family: Impact,Haettenschweiler,"Franklin Gothic Bold",Charcoal,"Helvetica Inserat";
  font-size: 15px;
  font-weight: normal;color: #FFFFFF;
  display: block;
  padding: 10px 10px 10px 10px;
  position: relative;
  text-decoration: none;
}
#nav li a:hover, #nav li a:active, #nav a.active {
    color: #00C7FF;
}
#nav li a .sf-sub-indicator {
    display: block;
    overflow-x: hidden;
    overflow-y: hidden;
    position: absolute;
    text-indent: -9999px;
}
#nav li li a, #nav li li a:link,#nav li li a:visited {
    background-color: #12263B;
    border-top-width: 0;
    color: #E7E7E7;
    font-size: 13px;
    font-weight: 400;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    position: relative;
    text-transform: none;
    width: 140px;
}
#nav li li a:hover, #nav li li a:active {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #01152A;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    
    background-size: auto auto;
    color: #FFFFFF;
}
#nav li ul {
    height: auto;
    left: -9999px;
    margin-bottom: 0;
    margin-left: 1px;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    position: absolute;
    width: 160px;
    z-index: 9999;
}
#nav li ul a {
    width: 160px;
}
#nav li ul ul {
    margin-bottom: 30px;
    margin-left: 160px;
    margin-right: 0;
    margin-top: -40px;
}
#nav li:hover > ul, #nav li.sfHover ul {
    left: auto;
}
#nav ul li.leaf, #nav ul li.expanded, #nav ul li.collapsed {
    list-style-image: none !important;
    list-style-position: outside;
    list-style-type: none;
}
#nav ul.menu li {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}
#nav li.expanded, #nav li.collapsed, #nav li.leaf {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    /*padding-bottom: 10px;*/
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    z-index:1000;
}
#nav li li a,
#nav li li a:link,
#nav li li a:visited {
  background-color: #505050;
  color:#00C7FF;
  opacity:0.8;
}

#nav li li a:hover,
#nav li li a:active {
  background: #292929;color:#ffffff;
}



